@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container header {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}
.container form {
  margin: 20px 5px 10px 5px;
  position: relative;
}

.container  img{
  width: 200px;
}
input[type="submit"] {
    background: #ee992a;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
a.btn-link {
    background: #ee992a;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

form  .showBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: none;
  /* user-select: none; */
}
form .indicator {
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
form .indicator span {
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}
form .indicator span:nth-child(2) {
  margin: 0 3px;
}
form .indicator span.active:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.indicator span.weak:before {
  background-color: #ff4757;
}
.indicator span.medium:before {
  background-color: orange;
}
.indicator span.strong:before {
  background-color: #23ad5c;
}
form .text {
  font-size: 20px;
  font-weight: 500;
  display: none;
  margin-bottom: -10px;
}
form .text.weak {
  color: #ff4757;
}
form .text.medium {
  color: orange;
}
form .text.strong {
  color: #23ad5c;
}


footer {
  background-color: #ee992a;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer .content p {
  font-size: 14px;
  color: #fbf9f9;
  text-align: center;
}
.container h2 {
    color: #ee992a;
    font-size: 38px;
    line-height: 36px;
    margin-bottom: 20px;
}
.container header span {
    color: #ec9a3c;
    display: inline-block;
    float: right;
    margin-right: 14px;
}

.success-alert {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  flex-wrap: nowrap;
  flex: 0 0 100%;
}

p.alert.alert-danger {text-align: center;}

body {
    margin-top: 0px;
}

form#card-form button.btnAction {
  background: #ec9a3c;
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: white;
  margin-top: 0.5rem;
}
div#card-errors {
  color: red;
}

div#loader img {
  width: 100px;
}

div#loader {
  margin: 0 auto;
  text-align: center;
}

/*PAYNOW*/

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: 'Raleway';
}

.payment-title {
    width: 100%;
    text-align: center;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
    margin-bottom: 15px;
}

.form-container {
    grid-template-areas: "name name""number number""expiration security";
    color: #707070;
}

label {
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}

input, textarea, select {
    margin-top: 3px;
    padding: 8px 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    margin-bottom: 15px;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
    margin-left: auto;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.terms-wrapper input[type="checkbox"] {
    margin-bottom: 0;
}

.terms-wrapper .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.terms-wrapper .form-control {
    height: 40px;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.terms-wrapper .input-group {
    width: 38%;
    margin: 0 auto;
    border-radius: 0;
}
.terms-wrapper a {
    background-color: #e9ecef;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    display: block;
    width: 88%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
}
@media (min-width: 576px){
    /* .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    } */
}
#exampleModal .modal-body {
    /* height: 67vh;
    overflow-y: scroll; */
}
#exampleModal .modal-footer input {
    width: auto;
    margin: 0;
    font-size: 55px !important;
    height: 20px;
    width: 20px;
}

#exampleModal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f9f9f9;
}

label.checkout-box-wrapper {
    display: flex;
    align-items: center;
    padding-left: 0;
}

label.checkout-box-wrapper input {
    width: auto;
    margin: 0;
    font-size: 55px !important;
    height: 20px;
    width: 20px;
    margin-right: 13px;
}
.modal ul {
    padding: 0;
    list-style: none;
}

.modal ul > ul {
    padding-left: 20px;
}

.modal ul > ul li {
    margin-bottom: 5px;
    margin-top: 6px;
}
.paid-container.declined-paid-container {
    background-color: #f8d7da;
}

.paid-container p {
    font-weight: bold;
    font-size: 20px;
}
@media (max-width: 767.98px) {
    .creditcard{
        height: 250px;
        position: relative;
    }
}
.modal-footer.footer-agree {
    justify-content: space-between !important;
}

.modal-footer.footer-agree label {
    margin-left: 25px;
}



@media (max-width: 767.98px) {
    .payment-left {
        display: block !important;
        text-align: center;
        padding: 0 !important;
        margin: 30px 0px;
    }
    .payment-left-inner h2 {
        font-size: 30px !important;
    }
    .payment-left-inner h1 {
        font-size: 20px !important;
    }
    
    .payment-left-inner img {
        width: 150px;
    }
    .col-md-4.pr-0 {
        padding-right: 15px !important;
    }
    .col-md-4.pr-0.pl-0 {
        padding-left: 15px !important;
    }
    span#basic-addon2 img {
        display: none;
    }
    .col-md-4.pl-0 {
        padding-left: 15px !important;
    }
    input#exp_year {
        margin-bottom: 0;
    }
    input#expiry {
        border-radius: 0px !important;
    }
    .col-md-3.pl-0.pr-0 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    input#city {
        margin: 0;
    }
    .col-md-3.pl-0 {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }
    
    input#zip {
        margin: 0;
        border-radius: 0px !important;
    }
    
    .col-md-4.pl-0 {
        padding-right: 15px !important;
    }
    
    .col-md-6.pr-0 {
        padding-right: 15px !important;
    }
    
    .col-md-8.pr-0 {
        padding-right: 15px !important;
    }
    
    input#address {
        border-radius: 0px !important;
    }
    
    select#state {
        border-bottom-left-radius: 15px !important;
    }
    
    .payment-right {
        padding: 20px 30px !important;
    }
}


.invoice-upper h1 {
    font-size: 120px;
}

.invoice {
    width: 800px;
    border: 1px solid #ccc;
    background-color: white;
    font-family: "Poppins", sans-serif !important;
}
.invoice-header img {
    max-width: 300px;
}
.invoice-header, .invoice-footer {
    text-align: left;
}
.invoice-body {
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    background-color: #323232;
    color: white;
    font-weight: 400;
}
.totals {
    margin-top: 20px;
    float: right;
    width: 300px;
    padding-right: 40px;
    font-size: 24px;
}
.totals div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.terms {
    margin-top: 50px;
    font-size: 14px;
    color: #555;
    padding-left: 40px;
    padding-bottom: 20px;
}

div#invoiceImageContainer img {
    width: 100%;
}

.invoice-header{
    padding: 40px;
    padding-bottom: 0;
}
.invoice-header h2 {
    font-size: 20px;
    line-height: 28px;
    width: 60%;
    flex: 0 0 60%;
    font-weight: 500;
}

.invoice-header-content {
    display: flex;
    justify-content: space-between;
}

.invoice-header-content p {
    width: 40%;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: right;
}

.invoice-header-content{
    margin-top: 30px;
}

.invoice-body th:first-child {
    padding-left: 40px;
}

.invoice-body tr td, .invoice-body tr th {
    font-size: 20px;
}

.invoice-body tr th{
    font-weight: 600;
}

.invoice-body tr td:first-child{
    padding-left: 40px;
}

.invoice-body tr td p {
    font-size: 17px;
    width: 60%;
    font-weight: 400;
}

.payment-left {
    height: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.payment-right {
    padding: 40px;
    box-shadow: -2px -2px 2px 0 #e5e5e5;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.StripeElement {
    box-sizing: border-box;
    height: 45px;
    padding: 12px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    transition: box-shadow 150ms ease;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin-bottom: 10px;
    margin-top: 3px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
/*NEW CSS*/
*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
input, textarea, select {
    border-radius: 8px !important;
    font-size: 15px !important;
    height: 42px !important;
    padding-left: 15px !important;
}
label {
    font-weight: 400;
    font-size: 14px;
    color: #0000008a;
}
select#state{
    margin: 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0 !important;
}

.payment-left-inner h3 {
    font-weight: bold;
    font-size: 25px;
}
.payment-left-inner h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: #17a2b8;
}
.payment-left-inner img {
    margin-bottom: 20px;
}
.payment-left-inner h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 32px;
}
input#cardnumber {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 0;
    border-top-right-radius: 0px !important;
    margin-top: 0;
    border-right: 0;
}
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

input#expiry {
    margin: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
input#cvv {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0px !important;
    margin-top: 0;
    border-bottom-left-radius: 0 !important;
}
input#exp_year {
    margin-top: 0;
    border-radius: 0px !important;
}
.form-control::placeholder {
    color: #d1d1d1;
    opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder { /* Edge 12 -18 */
    color: #d1d1d1;
}

.error.hide {
    display: none;
}

.form-control.required {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form-control.required::placeholder {
    color: #721c24;
    opacity: 1; /* Firefox */
}

.form-control.required::-ms-input-placeholder { /* Edge 12 -18 */
    color: #721c24;
}

span#basic-addon2 {
    background-color: white;
    padding: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
    padding-right: 10px;
}

.input-group-append {
    margin: 0;
}

.invoice * {
    font-family: "Poppins", sans-serif !important;
}

.invoice-body tr td h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.invoice-body tr td{
    font-size: 23px;
}

.payment-right.text-center.paypal-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form#paypal-form {
    margin-top: 0;
}

form#paypal-form button {
    margin-top: 0 !important;
}

.invoice-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0.1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invoice-bg {
    margin: 0 auto;
}

.invoice-bg img {
    width: 500px;
    object-fit: contain;
}